
# Extra ignores from GigOne session
.env
.idea/
DOcuments/
GigOne-Docs/
*.mpeg
english_to_sql.py
*.png
input_sentences.txt
node_modules/
package-lock.json
package.json
pics/
requirements.txt
*.csv
x.html

